@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 :root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}


/* Main */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user {
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.sucessDiv{
    padding-left: 20px;
}

.sucessDiv p{
    margin-bottom: 0;
    font-weight: bold;
    color:#05a054;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cardBox .cardDiv{
    position: relative;
    background: var(--white);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .cardDiv .numbers {
    position: relative;
    font-size: 2.5em;
    font-weight: 500;
    color: var(--blue);
}

.cardBox .cardDiv .imgDiv {
    flex: 2;
}
.cardBox .cardDiv .imgDiv img {
    width: 100%;
    height: 100%;
}
.cardBox .cardDiv .detailBox{
   flex: 4;
}

.cardBox .cardDiv .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .cardDiv .iconBox {
    font-size: 3.5em;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
    color: var(--white);
}

.users {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.users .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.users table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.users table thead td {
    font-weight: 600;
}

.users .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.users .recentOrders table tr:last-child {
    border-bottom: none;
}

.users .recentOrders tbody tr:hover {
    border-bottom: 1px solid var(--blue);
    background: transparent;
    color: black;
}

.users .recentOrders table tr td {
    padding: 10px;
}

.users .recentOrders table tr td:last-child {
    text-align: end;
}

.users .recentOrders table tr td:nth-child(2) {
    text-align: end;
}

.users .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.action{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.action .edit{
    padding: 2px 4px;
    background:var(--blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.action .edit:hover{
    cursor: pointer;
}

.action .delete{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.action .delete:hover{
    cursor: pointer;
}


.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    border-radius: 20px;
}

.recentCustomers .imgBox {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}


.recentCustomers .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}
.recentCustomers table tr:hover td h4 span{
    color: var(--white);
}


/* responsive design */

@media(max-width:991px){
.main{
    width: 100%;
    left: 0;
 }
 .main.active{
     left:300px;
 }
 .cardBox{grid-template-columns: repeat(2,1fr);}
}

@media(max-width:768px)
{
  .users{
      grid-template-columns: repeat(1,1fr);
  }
  .recentOrders{
      overflow-x: auto;
    }
    .status.progress{
        white-space: nowrap;
    }
}

@media(max-width:480px){
.cardBox{
    grid-template-columns: repeat(1,1fr);
}
.cardHeader h2{
    font-size: 20px;
}
.user{
    min-width: 40px;
}
.navigation{
    width: 100%;
    left: -100%;
    z-index: 1000;
}
.navigation.active{
    width: 100%;
    left: 0;
}
}