<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/component/sidebar.css" />
  </head>
  <body>
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
            <span class="title">Brand Name</span>
          </a>
        </li>
        <li>
          <a href="/Pages/dashboard/dashboard.html">
            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/Pages/userCreate/userCreate.html">
            <span class="icon"
              ><ion-icon name="person-add-outline"></ion-icon
            ></span>
            <span class="title">Manage User</span>
          </a>
        </li>
        <li>
          <a href="/Pages/category/categoryCreate.html">
            <span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
            <span class="title">Manage Category</span>
          </a>
        </li>
        <li>
          <a href="/Pages/existingpages/pages.html">
            <span class="icon"
              ><ion-icon name="document-text-outline"></ion-icon
            ></span>
            <span class="title">Pages</span>
          </a>
        </li>
        <li>
          <a href="/Pages/createpage/createpage.html">
            <span class="icon"
              ><ion-icon name="document-text-outline"></ion-icon
            ></span>
            <span class="title">Create Page</span>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
